{
  // overrides app/.eslingrc.json 0 = off, 1 = warn, 2 = error
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
  },
  "globals": {
    "document": false,
    "window": false,
    "alert": false
  },
  // airbnb overrides
  // all airbnb default rules: https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb-base/rules
  "rules": {
    "no-underscore-dangle":[0],
    "import/no-cycle":[0],
    "no-console":[0],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "arrow-parens": [
      "warn",
      "always"
    ],
    "class-methods-use-this": [
      "warn",
      {
        "exceptMethods": [
          "componentDidCatch",
          "componentDidUpdate",
          "shouldComponentUpdate",
          "componentWillReceiveProps",
          "render"
        ]
      }
    ],
    "operator-assignment": 1,
    // allows m = m - 1; instead of enforcing m -= 1;
    "no-shadow": 2,
    // warn - try to keep names unique
    "no-unused-vars": 2,
    // warn
    "one-var-declaration-per-line": 1,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "prefer-arrow-callback": 0,
    // ES6 / lambda cannot support yet unless we babel things
    "no-plusplus": 0,
    "no-undef-init": 2,
    "no-undefined": 1,
    // warn
    "no-undef": 2,
    // error
    "vars-on-top": 0,
    "radix": 2,
    "yoda": 0,
    "no-var": 2,
    "prefer-template": 0,
    "padded-blocks": [
      1,
      "never"
    ],
    "object-shorthand": [
      0,
      "never"
    ],
    "key-spacing": [
      0,
      {
        "align": "colon",
        "beforeColon": true,
        "afterColon": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "never",
      {
        "arraysInObjects": true,
        "objectsInObjects": true
      }
    ],
    "object-curly-newline": 0,
    "max-len": [
      "warn",
      140,
      {},
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreTemplateLiterals":true
      }
    ],
    "prefer-destructuring": [
      "warn",
      {
        "object": true,
        "array": false
      }
    ],
    "switch-colon-spacing": [
      "warn",
      {
        "after": true,
        "before": false
      }
    ],
    "function-paren-newline": [
      "off",
      "never"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        // allows common sense indentation
        "VariableDeclarator": 1,
        // warn
        "outerIIFEBody": 1,
        // warn
        // MemberExpression: null,
        // CallExpression: {
        // parameters: null,
        // },
        "FunctionDeclaration": {
          "parameters": 1,
          // warn
          "body": 1
          // warn
        },
        "FunctionExpression": {
          "parameters": 1,
          // warn
          "body": 1
          // warn
        }
      }
    ],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/display-name": [
      2,
      {
        "ignoreTranspilerName": false
      }
    ],
    "react/forbid-component-props": 0,
    "react/forbid-elements": [
      2,
      {
        "forbid": [
          "embed"
        ]
      }
    ],
    "react/jsx-boolean-value": [
      2,
      "always"
    ],
    "react/jsx-closing-bracket-location": [
      0,
      {
        "location": "tag-aligned"
      }
    ],
    "react/jsx-curly-spacing": [
      2,
      "never"
    ],
    "react/jsx-equals-spacing": [
      2,
      "never"
    ],
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": [
      2,
      "multiline"
    ],
    "react/jsx-handler-names": 0,
    "react/jsx-indent": [
      2,
      2
    ],
    "react/jsx-indent-props": [
      2,
      2
    ],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 1
      }
    ],
    "react/jsx-no-bind": 0,
    "react/jsx-no-comment-textnodes": 2,
    "react/jsx-no-duplicate-props": [
      2,
      {
        "ignoreCase": false
      }
    ],
    "react/jsx-no-literals": 1,
    "react/jsx-no-target-blank": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-tag-spacing": [
      2,
      {
        "closingSlash": "never",
        "beforeSelfClosing": "never",
        "afterOpening": "never"
      }
    ],
    "react/jsx-wrap-multilines": 2,
    "react/no-array-index-key": 1,
    "react/no-children-prop": 2,
    "react/no-danger": 0,
    "react/no-danger-with-children": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-find-dom-node": 1,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": [
      2,
      {
        "ignoreStateless": true
      }
    ],
    "react/no-render-return-value": 2,
    "react/no-set-state": 0,
    "react/no-string-refs": 0,
    "react/no-unescaped-entities": 2,
    "react/no-unknown-property": 2,
    "react/no-unused-prop-types": [
      1,
      {
        "skipShapeProps": true
      }
    ],
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 2,
    "react/require-default-props": 0,
    "react/require-optimization": 1,
    "react/require-render-return": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 0,
    "react/style-prop-object": 2
  }
}
